
body { 
    background-color: rgb(241, 208, 166);
    font-size:x-large;
    
}
p  { background-color: aliceblue;
   
}

.container {
    padding: 10px 5px 10px 5px;
    margin-top: 10px;
    
}

header , nav , li {
    display:flex;
    padding: 5px;
    margin:10px;
    font-size: large;
    justify-content: space-between;
    align-items:center;
    list-style: none;
}

